* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
 justify-content: center;
    background-color: #191919;
    width: auto;
    height: auto;
     display: flex;
}

.container {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  margin: 50px;
  border-radius: 10px;
  align-items: center;
  
}

.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
} 

.cabecalhor {
    text-align: center;
    padding-top: 50px;
}


.cabecalhor h1 {
    font-size: 60px;
    text-shadow: 3px 3px 5px #929292 ;
}

.cabecalhor p {
    font-size: 25px;
   padding-top: 15px;
}

.cabecalhor .ft_albert {
    height: 600px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.timeline {
    text-align: center;
    width: 500px;
}

.timeline h2, p {
    margin-bottom: 40px;
}

.descricao ul li {
   
    margin-bottom: 30px;
}

.timeline h2 {
    font-size: 30px;
}

@media (max-width: 600px) {

 section {
    background-color: #ffffff;
 }



 .cabecalhor h1 {
   font-size: 45px;
   text-align: center;
 }

 .cabecalhor p {
    font-size: 20px;
 }

 .cabecalhor .ft_albert {
    width: 380px;
    height: 400px;
 }

 .timeline h2 {
    font-size: 20px;
 }

 .timeline  p {
    font-size: 14px;
 } 

 .timeline {
    width: 380px;
 }
 .descricao {
    font-size: 14px;
 }

}

@media (max-width: 425px) {
 section {
        background-color: #ffffff;
 }
    
 .cabecalhor h1 {
    font-size: 35px;
    text-align: center;
  }
  .cabecalhor p {
    font-size: 16px;
 }

 .cabecalhor .ft_albert {
    width: 340px;
    height: 380px;
 }

 .timeline h2 {
    font-size: 16px;
 }

 .timeline  p {
    font-size: 13px;
 } 

 .timeline {
    width: 340px;
 }

 .descricao {
    font-size: 13px;
 }

}